{
  "extends": "airbnb",
  "ecmaFeatures": {
    "generators": true
  },
  "rules": {
    "max-len": [2, 120, 4],
    "generator-star-spacing": [2, {"before": true, "after": false}],
    "comma-dangle": [2, "never"]
  }
}
